# Minimum runtime dependencies
torch
# Optional runtime dependencies
kaldi_io
SoundFile
# For build and test-time dependencies please refer to CONTRIBUTING.md
beautifulsoup4
imbalanced_learn
imblearn
matplotlib
numpy
pandas
requests
scikit_learn
tabulate
dj-database-url
Django
asgiref
sqlparse
django-money
liqpay-sdk-python3
Pillow
psycopg2-binary
python-dateutil
python-dotenv
python-telegram-bot
APScheduler
setuptools
six
tzlocal
certifi
pytz
tornado
gunicorn
