// Main colors fromm light to dark
$color1: #E5E5FF;
$color2: #9999CC;
$color4: #00004C;
$color5: #666666;
$color6: #191919;

$hoverColor: #45bde9;
$activeColor: #54B344;

// Loops pane
$loopsPaneWidth: 300px;
$loopsPaneLeftBorderWidth: 5px;

// Music controls
$controlsHeight: 100px;
$controlsTopBorder: 5px;

// Tracks
$trackHeight: 80px;
$trackContainerWidth: 100px;
$trackRightBorderWidth: 5px;

// Play Button
$holeOffset: 20px;
$buttonOffset: 40px;