<div class="loop-name" title="<%= name %>"><%= name %></div>
<div class="loop-player">
  <div class="loop-play">
    <div class="loop-play-icon icono-play"></div>
  </div>
  <div class="loop-current-time">0:00</div>
  <div class="loop-time-track"></div>
  <div class="loop-duration"><%= duration %></div>
  <div class="loop-volume">
    <div class="loop-volume-icon icono-volumeMedium"></div>
    <div class="volume-dropdown">
      <div class="volume-slider"></div>
    </div>
  </div>
  <div class="loop-clear"></div>
</div>